@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plateia Bold';
  src: url('/fonts/Plateia-Bold.ttf');
  font-weight: 400;
  font-display: swap;
}

:root {
  --text: white;
  --background: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: white;
    --background: black;
  }
}

body {
  color: var(--text);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
